body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.margin {
  padding: 40px 20px;
  text-align: right;
  border-radius: 25px;
}
.jumbotron_2.0 {
  text-align: center;
  padding: 100px 50px;
  border: 50px;
  border-left: 25px;
  border-right: 25px;
  border-top: 25px;
  border-bottom: 25px;
}
opera-center {
    text-align: center;
  padding: 103px 56px;
  border: 57px;
  border-left: 26px;
  border-right: 26px;
  border-top: 26px;
  border-bottom: 26px;
}
