/* Copyright Jaydon Reap, Ficus Technologies 2014-2015 */


/* CUSTOM FONT VARIABLES
-------------------------------------------------- */

@font-face {
    font-family: custom1;
    src: url('../fonts/custom.svg') format('embedded-opentype'), 
         url('../fonts/custom1.woff') format('woff'), 
         url('../fonts/custom1.ttf')  format('truetype'),
         url('../fonts/custom.svg') format('svg');
    }
#custom-font1 {
	font-family: custom1;
}

